# PixelManager CMS (Community Edition)
# Copyright (C) 2016 PixelProduction (http://www.pixelproduction.de)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# Set the enviroment:
# - when developing / testing set to "development"
# - before going live set to "production"
SetEnv APPLICATION_ENV development

# Set default charset to for all files to UFT-8
AddDefaultCharSet utf-8

# Activate rewrite engine
rewriteEngine On

# if installed in a subdirectory, adjust to correct folder
RewriteBase /

# Redirect all requests to the index.php
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
